body{
  padding: 0;
  margin: 0;

}
#root{
  position: relative;
}
.header p {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 1.5rem;
  font-weight: 800; 
  color: #61dafb;
  margin: 0;
  cursor: pointer;
}

.header p svg {
  color: #00db80; 
  font-size: 1.8rem;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #20232a;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top:0;
  left: 0;
  z-index: 3;
}

.header svg {
  font-size: 2rem; 
}

.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 25px; 
}

.header ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.header ul li a:hover {
  color: #00db80; 
}
